
<form action="/users/create" method="post" class="form-container">
<h1>Registar o pet</h1>

    <div class="form-div">
        <label for="nome">Nome do pet:</label>
        <input type="text" placeholder="Digite o nome do pet" name="nome">
    </div>

    <div class="form-div">
        <label for="especie">Espécie: </label>
        <input type="text" placeholder="Digite a espécie do pet" name="especie">
    </div>

    <div class="form-div">
        <label for="raca">Raça: </label>
        <input type="text" placeholder="Digite a raça do pet" name="raca">
    </div>

    <div class="form-div">
        <label for="idade">Idade: </label>
        <input type="number" placeholder="Digite a idade do pet" name="idade">
    </div>

    <div class="form-div">
        <label for="sexo">Sexo: </label>
        <input type="text" placeholder="Digite o sexo do pet" name="sexo">
    </div>

    <div class="form-div">
        <label for="nomeDoTutor">Nome do Tutor: </label>
        <input type="text" placeholder="Digite o nome do tutor" name="nomeDoTutor">
    </div>

    <div class="form-div">
        <input type="submit" value="Cadastrar" class="btn-form">
    </div>
</form>