
<form action="/vet/create" method="post" class="form-container">
<h1>Registar veterin치rio</h1>

    <div class="form-div">
        <label for="veterinario">Nome do Veterin치rio: </label>
        <input type="text" placeholder="Digite o nome do veterin치rio" name="veterinario">
    </div>  

    <div class="form-div">
        <input type="submit" value="Cadastrar Veterin치rio" class="btn-form">
    </div>
</form>