* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    list-style: none;
    color: black;
    text-decoration: none;
}

header nav{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
    margin-bottom: 20px;

    li {
        display: flex;
        padding: 20px;

        a {
            font-size: 18px;
            color: white;
            font-weight: bold;
        }
    }
}

/*! Home Page */
.lista-paciente-div {
    max-width: 650px;
    margin: 0 auto;
    height: auto;

    h1 {
        padding-top: 20px;
        text-align: center;
    }
}

.pacientes-div {
    padding: 24px;
    border: 1px solid #ececec;
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    h2{
        padding: 8px;
    }

    p {
        padding: 4px;
    }

    a {
        text-align: end;
        color: rgba(0, 0, 0, 0.815);
        
        &:hover {
            text-decoration: underline;
        }
    }
}

/*! WHERE página individual*/
.petview-container {
    max-width: 650px;
    margin: 0 auto;
    padding: 35px;
}

.view {
    display: flex;
    flex-direction: column;
    text-align: center;

    h2 {
        padding: 20px 0;
        font-size: 26px;
        border-bottom: 2px solid #ececee;
    }

    p {
        padding: 18px;
        font-size: 18px;
    }
}

/* DELETE e UPDATE btn*/
.form-container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    border-top: 2px solid #ececee;
}

.form-delete{
    padding-right: 20px;

    form input {
        padding: 5px 10px;
        font-size: 16px;
        background-color: rgb(218, 30, 30);
        color: #fff;
        border: none;
        border-radius: 4px;
        font-weight: bold;
        cursor: pointer;
    }
}

.form-edit {
    form input {
        padding: 5px 10px;
        font-size: 16px;
        background-color: rgb(139, 133, 133);
        color: #fff;
        border: none;
        border-radius: 4px;
        font-weight: bold;
        cursor: pointer;
    }
}


/*! Formulário de adicionar pet*/
.form-container {
    max-width: 620px;
    margin: 0 auto;
    border: 1px solid #ececee;
    padding: 16px;
    height: auto;

    h1 {
        text-align: center;
        padding: 20px 0;
    }

    .form-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;

        label {
            padding: 8px;
        }

        input {
            padding: 8px;
            font-size: 16px;
        }
    }
}

